<h2>Add Student</h2>
<form method="POST">
Name: <input name="name" value="<%= data.name || '' %>"><br>
Email: <input name="email" value="<%= data.email || '' %>"><br>
Age: <input name="age" value="<%= data.age || '' %>"><br>
Course:
<select name="course">
<option value="">Select</option>
<option>BSIT</option>
<option>BSCS</option>
<option>BSIS</option>
</select><br>
<button>Add</button>
</form>


<% errors.forEach(e => { %>
<p style="color:red"><%= e.msg %></p>
<% }) %>