<%- include('layout') %>

<h2>Add Student</h2>

<% if (error) { %>
  <p style="color:red;"><%= error %></p>
<% } %>

<form method="POST" action="/students">
  <p>
    Name:<br>
    <input name="name">
  </p>
  <p>
    Age:<br>
    <input type="number" name="age">
  </p>
  <p>
    Course:<br>
    <input name="course">
  </p>
  <p>
    Email:<br>
    <input name="email">
  </p>
  <button type="submit">Save</button>
</form>

