<% layout('layout') %>
<h2>Student Details</h2>
<p><b>Name:</b> <%= student.name %></p>
<p><b>Age:</b> <%= student.age %></p>
<p><b>Course:</b> <%= student.course %></p>
<p><b>Email:</b> <%= student.email %></p>
<a href="/students" class="btn btn-secondary">Back</a>